.image {
  background-color: var(--ifm-hover-overlay);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}

.imageLoading {
  filter: blur(20px);
}
