.thumbnail {
  align-items: center;
  background-color: var(--ifm-hover-overlay);
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.thumbnail::before {
  content: '';
  display: block;
  padding-top: 56.25%;
}

.image {
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  object-fit: contain;
  position: absolute;
  right: 0;
  top: 0;
}
