.liveStatus {
  font-size: 0.8rem;
  height: calc(50% - 0.5em);
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: calc(50% - 0.5em);
}

.liveNow {
  --ifm-badge-background-color: #d32f2f;
  --ifm-badge-padding-horizontal: 0.3em;
  --ifm-badge-padding-vertical: 0.3em;

  font-size: inherit;
  font-weight: var(--ifm-font-weight-semibold);
}
