@import 'tailwindcss';
@import '@shinju-date/tailwind-config/theme.css';
@source '../node_modules/@shinju-date/ui';

@theme {
  --background-image-search-icon: url(./_assets/search-icon.svg);
  --background-image-search-icon-invert: url(./_assets/search-icon-invert.svg);
}

/* iOS overscroll handling: html should have dark footer color */
html {
  min-height: 100vh;
  background-color: hsl(var(--primary));
}

html.dark {
  background-color: rgb(39 39 42); /* zinc-800 */
}

/* Body should have light main content color */
body {
  min-height: 100vh;
  background-color: hsl(var(--primary-foreground));
}

body.dark {
  background-color: rgb(24 24 27); /* zinc-900 */
}

@layer components {
  .markdown {
    @apply space-y-4 leading-loose;

    h2 {
      @apply text-xl font-semibold;
    }

    h3 {
      @apply font-semibold;
    }

    ol,
    ul {
      @apply ps-6;
    }

    ol {
      @apply list-decimal;
    }

    ul {
      @apply list-disc;
    }

    a:any-link {
      @apply text-secondary-blue hover:text-secondary-pink hover:underline dark:text-774-blue-400 dark:hover:text-774-pink-400;
    }
  }
}
