:root {
  --ifm-font-family-base: var(--font-lato, 'Lato'), Helvetica Neue, Arial,
    Hiragino Kaku Gothic ProN, Hiragino Sans, BIZ UDPGothic, Meiryo, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Noto Color Emoji !important;
  --ifm-font-size-base: 16px !important;
  --ifm-line-height-base: 2 !important;
}
