.hero {
  background-color: #3f3636;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

@media (max-width: 996px) {
  .hero {
    max-height: 40vh;
  }
}

.heroInner {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.heroTitle {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  bottom: 0;
  color: #fff;
  left: 0;
  margin: 0;
  padding: 1rem 2rem;
  position: absolute;
  right: 0;
}

@media (max-width: 996px) {
  .heroTitle {
    text-align: center;
  }
}

.logo {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.8));
  height: 3.5rem;
  width: auto;
}

@media (max-width: 996px) {
  .logo {
    height: 3rem;
  }
}

.heroImage {
  display: block;
  z-index: 1;
}

.pill {
  padding: 0;
}

.pillLink,
.pillLink:hover {
  color: inherit;
  text-decoration: inherit;
}

.pillLink {
  display: block;
  padding: 0.25rem 1rem;
}
