@import 'infima/dist/css/default/default.css';

:root {
  --ifm-font-family-base: Lato, Helvetica Neue, Arial, Hiragino Kaku Gothic ProN,
    Hiragino Sans, BIZ UDPGothic, Meiryo, sans-serif;
  --ifm-font-size-base: 16px;
  --ifm-line-height-base: 2;

  --nprogress-color: var(--ifm-color-primary);
}

/* hotfix */
.navbar__toggle {
  color: inherit;
}
