/* TODO: workaround for https://github.com/vercel/next.js/issues/46091 */
@import '@/vendor/infima/default.min.css';

:root {
  --ifm-font-family-base: var(--font-lato, 'Lato'), Helvetica Neue, Arial,
    Hiragino Kaku Gothic ProN, Hiragino Sans, BIZ UDPGothic, Meiryo, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Noto Color Emoji;
  --ifm-font-size-base: 16px;
  --ifm-line-height-base: 2;

  --nprogress-color: var(--ifm-color-primary);
}
