@media (max-width: 996px) {
  .logo {
    display: none;
  }
}

.navbarButton {
  background-color: transparent;
  border: 0;
  font-family: inherit;
  font-size: inherit;
}

.navbarButton:focus {
  outline: 0;
}

.navbarButton:hover {
  color: var(--ifm-navbar-link-color);
  opacity: 0.6;
}

.dropdownMenu {
  left: auto !important;
  right: 0;
}
