.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.skipNavLink {
  line-height: 1;
}

.skipNavLink:focus {
  z-index: 1000 !important;
  z-index: calc(var(--ifm-z-index-fixed) + 1) !important;
}
