.video {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.image {
  position: relative;
}

.duration {
  --ifm-badge-background-color: rgba(0, 0, 0, 0.85);
  --ifm-badge-border-color: var(--ifm-badge-background-color);
  --ifm-badge-padding-horizontal: 0.5em;
  --ifm-badge-padding-vertical: 0.2em;

  bottom: 0.5em;
  position: absolute;
  right: 0.5em;
}

.content {
  flex-grow: 1;
}

.title {
  font-size: var(--ifm-h4-font-size);
}

.titleSkeleton {
  width: 80%;
}

.titleSkeleton:first-child {
  width: 100%;
}

.published {
  color: var(--ifm-color-secondar);
  display: block;
  font-size: 0.85rem;
  text-align: right;
}
