# Docker Compose configuration for Dev Container
# This defines the dev container app service that depends on services in ../compose.yml

services:
  app:
    image: mcr.microsoft.com/devcontainers/typescript-node:4-24-bookworm@sha256:2baba848f88e02278bcf59e072752f7371534ccfc67afcd8e0ee6b293865c6f9
    env_file:
      - ../config/dev-supabase-keys.env
    volumes:
      - ../..:/workspaces:cached
    command: sleep infinity
    environment:
      SUPABASE_ANON_KEY: ${SUPABASE_ANON_KEY}
      SUPABASE_SERVICE_ROLE_KEY: ${SUPABASE_SERVICE_ROLE_KEY}
      SUPABASE_URL: http://kong:8000
      UPSTASH_REDIS_REST_TOKEN: "${UPSTASH_REDIS_REST_TOKEN:-local-dev-token}"
      UPSTASH_REDIS_REST_URL: http://serverless-redis-http:80
      NEXT_PUBLIC_SUPABASE_ANON_KEY: ${SUPABASE_ANON_KEY}
      NEXT_PUBLIC_SUPABASE_URL: http://kong:8000
      NEXT_PUBLIC_UPSTASH_REDIS_REST_TOKEN: "${UPSTASH_REDIS_REST_TOKEN:-local-dev-token}"
      NEXT_PUBLIC_UPSTASH_REDIS_REST_URL: http://serverless-redis-http:80
    depends_on:
      serverless-redis-http:
        condition: service_healthy
      kong:
        condition: service_healthy
      db:
        condition: service_healthy
