# Vector configuration for Supabase log aggregation
# This configuration is used by the vector service to collect and forward logs

data_dir: /var/lib/vector

sources:
  docker_host:
    type: docker_logs

transforms:
  project_logs:
    type: remap
    inputs:
      - docker_host
    source: |
      .project = "default"
      .event_message = del(.message)
      .appname = del(.container_name)
      .timestamp = del(.timestamp)

sinks:
  # Temporarily output to console for development.
  # TODO: Resolve Vector HTTP sink 401 issues and re-enable Logflare sink
  console_logs:
    type: console
    inputs:
      - project_logs
    encoding:
      codec: json
