.blockLink {
  --ifm-link-color: var(--ifm-font-color-base);
  --ifm-link-hover-color: var(--ifm-link-color);
  --ifm-link-hover-decoration: none;

  display: block;
  height: 100%;
}

.video {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.image {
  aspect-ratio: calc(1920 / 1080);
  position: relative;
}

.thumbnail {
  display: block;
  object-fit: cover;
  object-position: center;
}

.thumbnailSkeleton {
  left: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  top: 0;
  width: 100%;
}

.duration {
  --ifm-badge-background-color: rgba(0, 0, 0, 0.85);
  --ifm-badge-border-color: var(--ifm-badge-background-color);
  --ifm-badge-padding-horizontal: 0.5em;
  --ifm-badge-padding-vertical: 0.2em;

  bottom: 0.5em;
  position: absolute;
  right: 0.5em;
}

.liveNow {
  --ifm-badge-background-color: #d32f2f;
  --ifm-badge-border-color: var(--ifm-badge-background-color);
  --ifm-badge-padding-horizontal: 0.5em;
  --ifm-badge-padding-vertical: 0.25em;

  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.title {
  font-size: var(--ifm-h4-font-size);
}

.titleSkeleton {
  width: 80%;
}

.titleSkeleton:first-child {
  width: 100%;
}

.published {
  color: var(--ifm-color-secondar);
  display: block;
  font-size: 0.85rem;
  text-align: right;
}
