.video {
  --ifm-link-color: var(--ifm-font-color-base);
  --ifm-link-hover-color: var(--ifm-link-color);
  --ifm-link-hover-decoration: none;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.image {
  position: relative;
}

.thumbnailSkeleton {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.thumbnailSkeleton::before {
  content: '';
  display: block;
  padding-top: 56.25%;
}

.duration {
  --ifm-badge-background-color: rgba(0, 0, 0, 0.85);
  --ifm-badge-padding-horizontal: 0.3em;
  --ifm-badge-padding-vertical: 0.3em;

  bottom: 0.5em;
  font-size: 0.8rem;
  font-weight: var(--ifm-font-weight-semibold);
  position: absolute;
  right: 0.5em;
}

.content {
  flex-grow: 1;
}

.titleSkeleton {
  width: 80%;
}

.titleSkeleton:first-child {
  width: 100%;
}

.published {
  color: var(--ifm-color-secondar);
  display: block;
  font-size: 0.85rem;
  text-align: right;
}
