name: Node.js CI

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches: [main]

env:
  # renovate: datasource=npm depName=corepack
  COREPACK_VERSION: 0.31.0
  # renovate: datasource=node-version depName=node
  NODE_VERSION: 22.13.1

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-24.04
    env:
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Enable Corepack
        run: |
          npm install -g corepack@${COREPACK_VERSION}
          corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: pnpm
      - run: pnpm install
      - run: pnpm format-check
      - run: pnpm lint --filter './packages/*'
      - run: pnpm test
